//vars fontface
$f-nourml:'cairo-regular';
$f-bold:'cairo-Bold';
// $f-medium:'trex-medium';

//Vars color
$min-color:#29294D;
$color1:#7E7E94;
$color2:#D84861;
$color3:#29294D;

/**/
$left:left;
$right:right;
